dist
build
__pycache__
venv
TizonaHub_s0.3.0c0.3.0.zip
TizonaManager.exe
node-v22.15.1-x64.msi
python-3.13.3-amd64.exe
TizonaHubBundle_19-07-25.zip
TizonaHub*.zip
licenses/*
!licenses/.gitkeep